Project/Content/KiteDemo/LevelContent/HDRI/KimsBackYard.uasset filter=lfs diff=lfs merge=lfs -text
Project/Content/FaceAR/**/*.uasset filter=lfs diff=lfs merge=lfs -text
Project/DerivedDataCache/Compressed.ddp filter=lfs diff=lfs merge=lfs -text
Project/Maya/sourceImages/maps/head_color_map.tga filter=lfs diff=lfs merge=lfs -text
Project/Maya/sourceImages/maps/head_normal_map.tga filter=lfs diff=lfs merge=lfs -text
